In [1]:
import pickle as pkl
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
type2eng = {'旅游景点;公园': 'Attraction;Park', '教育培训;高等院校': 'Education;School', '购物;购物中心': 'Shopping;Mall', '医疗;综合医院': 'Medical;Hospital', '运动健身;体育场馆': 'Sport;Stadium', '旅游景点;文物古迹': 'Attraction;Monument', '旅游景点;风景区': 'Attraction;Scenic', '交通设施;火车站': 'Transportation;Train', '交通设施;长途汽车站': 'Transportation;Bus', '旅游景点;植物园': 'Attraction;Arboretum', '旅游景点;游乐园': 'Attraction;Amusement', '旅游景点;水族馆': 'Attraction;Aquarium', '旅游景点;动物园': 'Attraction;Zoo', '交通设施;飞机场': 'Transportation;Airport'}

In [2]:
area_info = pd.read_csv('../data/area_passenger_info.csv', names=['id','name','type','center_x','center_y','grid_x','grid_y','area'])
area_info['type'] = area_info[['type']].apply(lambda x: type2eng[x['type']], axis=1)
area_info['type1'], area_info['type2'] = area_info['type'].str.split(';', 1).str
test_df = pd.read_csv('../data/test_submit_example.csv', names=['id','date','flow'])

with open('./cache/pred_flow_rule.pkl', 'rb') as f:
    pred_flow_rule = pkl.load(f)
with open('./cache/growth_index.pkl', 'rb') as f:
    growth_index = pkl.load(f)
    
with open('./cache/pred_flow_hour_level_lgb.pkl', 'rb') as f:
    pred_flow_hour_level_lgb = pkl.load(f)
with open('./cache/pred_flow_hour_level_xgb.pkl', 'rb') as f:
    pred_flow_hour_level_xgb = pkl.load(f)
    
with open('./cache/weekday_pred_flow_hour_level_lgb.pkl', 'rb') as f:
    weekday_pred_flow_hour_level_lgb = pkl.load(f)
with open('./cache/weekday_pred_flow_hour_level_xgb.pkl', 'rb') as f:
    weekday_pred_flow_hour_level_xgb = pkl.load(f)

In [3]:
test_df['flow'] = pred_flow_rule

# 1 hour-level fusion
oneday_flow = 0.5*pred_flow_hour_level_lgb[:,0,:].T + 0.5*pred_flow_hour_level_xgb[:,0,:].T

oneday_idx = test_df['date'].astype(str).str.contains('20200216')
flow_0216 = (oneday_flow.T * growth_index.tolist()).T
test_df.loc[oneday_idx,'flow'] = 0.3*test_df.loc[oneday_idx,'flow'] + 0.7*flow_0216.flatten()

oneday_idx = test_df['date'].astype(str).str.contains('20200223')
flow_0223 = (flow_0216.T * growth_index.tolist()).T
test_df.loc[oneday_idx,'flow'] = 0.3*test_df.loc[oneday_idx,'flow'] + 0.7*flow_0223.flatten()

# 2 hour-level of weekday fusion
w1, w2 = 0.7, 0.3
trans_idxs = [x-1 for x in area_info[(area_info['type1']!='Transportation')]['id'].tolist()]
growth_index_weekday = growth_index * 1.05

for d in range(5):
    oneday_idx = test_df['date'].astype(str).str.contains(str(d+20200217))
    oneday_flow = 0.5*weekday_pred_flow_hour_level_lgb[:,d,:].T + 0.5*weekday_pred_flow_hour_level_xgb[:,d,:].T
    oneday_flow = (oneday_flow.T * growth_index_weekday.tolist()).T
    oneday_flow[trans_idxs] = test_df.loc[oneday_idx,'flow'].values.reshape(997,24)[trans_idxs]
    test_df.loc[oneday_idx,'flow'] = w1*test_df.loc[oneday_idx,'flow'] + w2*oneday_flow.flatten()

In [4]:
# 3 write
test_df.to_csv('./output/test_submission_final.csv', header=0, index=0)

In [5]:
for i in range(20200216, 20200225):
    print(i, test_df[(test_df['date']/100).astype(int)==i].mean()['flow'])

20200216 19.75204318597559
20200217 22.240981981027222
20200218 21.69757598558023
20200219 21.693094338711955
20200220 21.99467073083938
20200221 21.638738823030607
20200222 20.725716113805277
20200223 20.43401007804046
20200224 23.009557337643457

In [6]:
test_df[test_df['date']==2020021712].head(30)

      id        date        flow
36     1  2020021712    5.443758
252    2  2020021712   19.839767
468    3  2020021712    5.169884
684    4  2020021712   54.673498
900    5  2020021712    7.690922
1116   6  2020021712    5.828404
1332   7  2020021712    4.841727
1548   8  2020021712    4.485909
1764   9  2020021712   14.338164
1980  10  2020021712    3.090126
2196  11  2020021712   53.208435
2412  12  2020021712   57.464195
2628  13  2020021712   56.470036
2844  14  2020021712    2.537130
3060  15  2020021712   32.875935
3276  16  2020021712   15.471284
3492  17  2020021712    1.411636
3708  18  2020021712    7.308001
3924  19  2020021712    1.018943
4140  20  2020021712    7.837334
4356  21  2020021712    2.072752
4572  22  2020021712    7.395834
4788  23  2020021712   34.097156
5004  24  2020021712    0.462119
5220  25  2020021712   14.398936
5436  26  2020021712    0.287159
5652  27  2020021712   71.450154
5868  28  2020021712  134.267384
6084  29  2020021712   34.826985
6300  30  2020021712   44.904096